body {
    background-image: url('img/p3-jeu.png');
}

p {
    margin-bottom: 0px;
}

ul {
    margin-top: 0px;
}

ul.myUL {
    list-style-type: none;
}

ul.myUL > li {
    text-indent: -5px;
}

ul.myUL > li:before {
    content: "- ";
    text-indent: 15px;
}


.legende {
    margin-top: 10px;
    font-style: italic
}

.tab {
    margin-left: 15px;
}

.tableau {
    text-align: center;
    margin-bottom: 10px;
}

.main {
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #c2c3c4;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

.menu {
    display: flex;
}

.menu > a {
    margin-right: 10px;
    font-size: x-large;
}

#old
.banniereDiv {
    display: table;
    margin: auto;
}

iframe {
    border: 0px;
    height: 200px;
    width: 940px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* ** */
.div_horizontal {
    display: flex;
    flex-wrap: wrap;
}

.width_25pc {
    width: 25%;
}

.div_horizontal > p {
    margin-left: 10px;
}